
html{
  background-color: #22223B;
  color: whitesmoke;
  height: 100%;
}


 /* h3  {
  display: flex;
  justify-content: center;
} */

 /* ul, li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10%;
} */

* {
  font-family: 'Merriweather', serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
}