

header{
  background-color: #a3b18a;
  margin:0;
  padding: 4%;
  border-bottom: #588157 solid;
}

nav.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Header__logged{
  margin:0;
  display:flex;

  
}


div.Header__logged a{
  display: flex;
  align-items: center;
  color: #344e41;
  border: #344e41 solid;
  text-decoration: none;
  margin-right: 10px;
  padding: 5px;
  border-radius: 16px;
  font-size: 10px;
}


/* div.Header__logged a:first-child{
  margin-right: 10px;
  margin-left: 4%;
} */

/* div.Header__not-logged-in a:hover {
  color: #d4d700;
  border-color: #d4d700;
} */

div.Header__logged a:hover {
  color: #dad7cd;
  border-color: #dad7cd;
}

div.home {
  
  margin-left: 2%;
}
a.header-a{
  color: #344e41;
  text-decoration: none;
  font-size: 16px;

}

a.header-a:hover{
  color:#dad7cd;
}

@media only screen and (min-width: 325px){

  div.Header__logged a {
    font-size: 12px;
  }

  a.header-a{
    font-size: 18px;
  }

}

@media only screen and (min-width: 425px){

  div.Header__logged a{
    font-size: 16px;
  }

  a.header-a{
    font-size: 22px;
  }

}

@media only screen and (min-width: 601px){

  div.Header__logged a{
    font-size: 20px;
  }

  a.header-a{
    font-size: 28px;
  }

  /* div.Header__logged a:first-child{
    margin-right: 5%;
  } */

}