header h1, header h2{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:10px;
  margin:0;
  color:whitesmoke;
}

header{
  background-color: #4A4E69;
  margin:0;
  padding: 10px;
}

nav.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.Header__logged-in, div.Header__not-logged-in{
  display:flex;
  justify-content: flex-end;
  
}


div.Header__logged-in a, div.Header__not-logged-in a {
  color: whitesmoke;
  text-decoration: none;
  margin-right: 5px;
  border: whitesmoke solid;
  padding: 5px;
  border-radius: 16px;
  font-size: 10px;
}

div.Header__logged-in a:first-child{
  margin-right: 0 10px;
}

div.Header__not-logged-in a:hover {
  background-color: #22223B;
}

div.Header__logged-in a:hover {
  background-color: #22223B;
}

div.home {
  
  margin-left: 2%;
}
a.header-a{
  color: whitesmoke;
  text-decoration: none;
  font-size: 16px;

}

a.header-a:hover{
  color:#22223B;
}

@media only screen and (min-width: 325px){

  div.Header__logged-in a, div.Header__not-logged-in a {
    font-size: 12px;
  }

  a.header-a{
    font-size: 18px;
  }

}

@media only screen and (min-width: 425px){

  div.Header__logged-in a, div.Header__not-logged-in a {
    font-size: 16px;
  }

  a.header-a{
    font-size: 22px;
  }

}

@media only screen and (min-width: 601px){

  div.Header__logged-in a, div.Header__not-logged-in a {
    font-size: 20px;
  }

  a.header-a{
    font-size: 28px;
  }

  div.Header__logged-in a:first-child{
    margin-right: 5%;
  }

}