


section.returnUser {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  margin: 0 10%;
}

li {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  margin: 10% 0;
  
}


ul {
  margin: 0;
  padding: 0;
}



/* @media only screen and (min-width: 325px){


} */

@media only screen and (min-width: 425px){

  iframe {
     height: 200px;
  }
}

@media only screen and (min-width: 601px){

  iframe {
    height: 300px;
 }
  
}

@media only screen and (min-width: 725px){

  iframe {
    height: 400px;
 }
  
}

@media only screen and (min-width: 1024px){

  iframe {
    height: 450px;
 }
  
}